
<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
  <link rel="stylesheet" type="text/css" href="/Primeiro-Projeto/src/app/boasvindas/boasvindas.component.css">
	<title>Boas Vindas</title>
</head>

  <body >
    <nav>
      <ul>
        <li><a routerLink="/boasvindas">Home</a></li>
        <li><a routerLink="/cadastro">Cadastro</a></li>
        <li><a routerLink="/listandocadastros">Relatório</a></li>
      </ul>
     </nav>
<br>
<br>

  <img src="https://cdn.awsli.com.br/600x1000/761/761999/produto/41467929/f84f75780b.jpg">

  </body>


 </html>
