<nav class="navbar navbar-expand-lg navbar-dark everisCss" *ngIf="mostrarMenu" >
  <a class="navbar-brand" [routerLink]="['/home']">Beca Angular</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active"
        >Home</a
      >
      <a class="nav-link" [routerLink]="['/cursos']" routerLinkActive="active"
        >Cursos</a
      >
      <a class="nav-link" [routerLink]="['/alunos']" routerLinkActive="active"
        >Alunos</a
      >
    </div>
  </div>
  <button (click)="logout()"  class="btn btn-danger btnLogout">Logout</button>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
