<div>
  <form >
    <h3>Endereço:</h3>
      <mat-form-field appearance="legacy">
          <mat-label>CEP</mat-label>
          <input matInput placeholder="00000-000"  name="cep" [(ngModel)]="cep.cep"  required>
          <mat-hint>Preencha com o CEP</mat-hint>
          </mat-form-field>
           <button mat-mini-fab color="primary" (click)="search()"><mat-icon>search</mat-icon></button>
          <br>
          <mat-form-field appearance="legacy">
              <mat-label>Cidade</mat-label>
              <input matInput placeholder="Uberlândia" name="cid" [(ngModel)]="cep.cidade" >
              <mat-hint>Nome da cidade</mat-hint>
              </mat-form-field>
              <mat-form-field appearance="legacy">
                  <mat-label>Bairro</mat-label>
                  <input matInput placeholder="Santa Mônica"name="bairro" [(ngModel)]="cep.bairro" >
                  <mat-hint>Nome do Bairro</mat-hint>
                  </mat-form-field>
                  <mat-form-field appearance="legacy">
                      <mat-label for="Estado">Estado</mat-label>
                      <input matInput placeholder="Minas Gerais" id="Estado"name="est" [(ngModel)]="cep.estado" >
                      <mat-hint>Região</mat-hint>
                      </mat-form-field>
                      <mat-form-field appearance="legacy">
                          <mat-label>Rua</mat-label>
                          <input matInput placeholder="Rua" name="log" [(ngModel)]="cep.logradouro" >
                          <mat-hint>Nome da Rua</mat-hint>
                          </mat-form-field>
                  <br>


                          </form>
  </div>
  <button mat-fab color="primary" id="voltar"routerLink="/list">Voltar</button>
