<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li routerLinkActive="active">
        <a class="nav-link" [routerLink]="['templateForm']">Formulário - Template Driven</a>
      </li>
      <li routerLinkActive="active">
        <a class="nav-link" [routerLink]="['dataForm']">Formulário - Data Driven</a>
      </li>
      <li routerLinkActive="active">
        <a class="nav-link" [routerLink]="['pipes']">Exemplo de Pipes</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

