.example-card {
    max-width: 400px;
    margin-left: 300px;
}

.example-card-new {
    max-width: 400px;
    margin-left: 800px;
    margin-top: -440px;
}
  
.example-header-image {
    background-image: url('https://image.flaticon.com/icons/svg/3306/3306753.svg');
    background-size: cover;
}

.box-tile {
width: 40vw;
height: 100px;
position: absolute;
top: 30%;
left: 1%;
padding: 10px;
}

.wrapper-content h1 {
font-size: 40pt;
color: rgb(235, 252, 6);
text-shadow: 2px 2px #333;
font-family: 'Crete Round', serif !important;
margin-left: 300px;
margin-top: -30px;
}

.tag {
font-size: 1-pt;
color: rgb(9, 0, 255);
font-weight: bold;
}

.wrapper-content-new {
    margin-top: -10px;
}

.box-tile-new {
    width: 40vw;
    height: 100px;
    position: absolute;
    top: 10%;
    left: 1%;
    padding: 10px;
}