.filter-form{
  margin: 40px;
  margin-bottom: 0;
  width: 90%;
}
.mat-elevation-z8{
  margin: 40px;

}

table{
  width: 100%;
}

.div-filter{
  width: 100%;
}

.card-title-table{
  text-align: center;
}

